#edittable__editor {
    margin-bottom: 1.4em;

    table {

        td.right {
            text-align: right;
            float: none; // fix incompatibility with some templates (like ICKE)
        }

        td.center {
            text-align: center;
        }

        td.header {
            font-weight: bold;
            background-color: @ini_background_alt;
            background-image: none;
        }

    }
}

// add a z-index to DokuWiki's toolbar pickers
div.picker {
    z-index: 500;
}


.handsontable th,
.handsontable table,
.handsontable tbody,
.handsontable thead,
.handsontable td,
.handsontable div,
.handsontable textarea {
    box-sizing: border-box;
}

div.wtHolder {
    height: auto !important;
    padding-bottom: 5px;
}
div.wtHider {
    padding-bottom: 5px;
}

div.ht_clone_left.handsontable, div.ht_clone_top.handsontable, div.ht_clone_corner.handsontable {
    display: none;
}
