// FIXME has probably obolete styles

/* Table edit toolbar */
div.toolbar #tool__bar_table button.selected {
    background: __background__ url(images/buttonshadow_toggled.png) repeat-x bottom;
}

div.toolbar #tool__bar_table button.disabled {
    background: __background__ url(images/buttonshadow_toggled2.png) repeat-x bottom;
    opacity: 0.4;
}

div.toolbar #tool__bar_table button.separator {
    margin-left: 0.5em;
}

div.toolbar #tool__bar_table {
    margin-bottom: 0.5em;
}

#dw__editform #edit__wrap {
    margin-top: 1.5em;
    overflow: auto;
    border: 1px solid __border__;
}

div.dokuwiki table.edit {
    margin: -1px;
}

div.dokuwiki table.edit th,
div.dokuwiki table.edit td {
    min-width: 5em;
}

div.dokuwiki table.edit input {
    border: none;
    background: transparent;
    font: inherit;
    width: 100%;
}

/* nice alphatransparency background except for IE <7 */
html>body div.dokuwiki table.edit th,
html>body div.dokuwiki table.edit td {
    background-image: url(images/inputshadow.png);
    background-repeat: repeat-x;
    background-position: top;
}
