div.toolbar #tool__bar button.selected {
    background: __background__ url(images/buttonshadow_toggled.png) repeat-x bottom;
}

#tool__bar button.disabled {
    background: __background__ url(images/buttonshadow_toggled2.png) repeat-x bottom;
    opacity: 0.4;
}

#tool__bar button.separator {
    margin-left: 0.5em;
}

div.dokuwiki table.edit {
    margin-top: 1.5em;
}

div.dokuwiki table.edit input {
    border: none;
    background-color: inherit;
    font: inherit;
    text-align: inherit;
    width: 100%;
}

/* nice alphatransparency background except for IE <7 */
html>body div.dokuwiki table.edit th,
html>body div.dokuwiki table.edit td {
    background-image: url(images/inputshadow.png);
    background-repeat: repeat-x;
    background-position: top;
}

/* ----------- Row and col handles ------------- */

div.dokuwiki table.edit td.handle {
    color: __text_neu__;
    background-color: __background_neu__;
    padding: 0;
    vertical-align: bottom;
}

div.dokuwiki table.edit td.rowhandle {
    width: 3em;
}

div.dokuwiki table.edit td.curhandle {
    background-color: __background_alt__;
}

/* nice alphatransparency background except for IE <7 */
html>body div.dokuwiki table.edit td.handle {
    background-image: url(images/buttonshadow.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#table__dragmarker {
    width: 16px;
    height: 16px;
    background: transparent url(images/arrow.png) no-repeat center center;
    margin: 0;
    padding: 0;
}
